*{
	margin: 0; padding: 0; box-sizing:border-box;  word-break: break-all; word-wrap: break-word;font-family: 'Microsoft YaHei';
}
body{
	font-size: 1em; display: block;
	box-sizing: border-box;
	-moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box;
    padding:5%;
    line-height: 200%;
}
h1,h2,h3{text-align: center; font-weight: normal;}
h3{ color: #337bc8; margin-top: 2%;}
h2,p{font-size: 1.5em;}
.mt2{ margin-top: 2%;}
.main{
	widows: 100%;
	max-width: 640px;
	margin: auto;
	overflow: hidden;
}

.graph {
  width: 100%;
  height: 400px;
  text-align: center;
  padding: 10px;
}

.download {
	width: 80px;
	position: fixed;
	bottom: 50px;
	right: 10px;
	border-radius: 4px;
	background: #22C1E7;
	color: #fff;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	padding: 5px;
}
.download:focus,.download:hover {
	background: #2396C6;
}
.get_png {
	bottom: 150px;
}
.download_png {
	bottom: 100px;
}

body>img {
	width: 100%;
}